// colors
$default-color : #7757F7;
$black: #1c1c1c;
$dark-gray: #464646;
$blue: #3498DB;
$white : #fff;
$gray : #f2f2f2;
$red : #ED6D6D;
$green : #75ED6D;

//bootstrap color replacement
$primary : $default-color;
$danger: #D15C41;
$warning: #E1E53D;
$success: #27CF74;
$info: #80FEDE;


//forms
$form-bg : #fff;