// colors
$default-color : #17A589;
$black: #1c1c1c;
$dark-gray: #464646;
$blue: #3498DB;
$white : #fff;
$gray : #f2f2f2;

//bootstrap color replacement
$primary : #3498DB;
$danger: #EC7063;
$warning: #F5B041;
$success: #58D68D;
$info: #7FB3D5;