@media (max-width: $mobile) {
    .top-navbar{
        padding: 10px 20px 10px 20px !important;
    }

    .pull{
        margin-top:-10px !important;
    }

    .submenu{
        .horizontal-menu{
            .title{
                padding: 10px 22px 0px 22px;
            }

            ul{
                padding: 10px 0px 10px 15px;
            }
        }
    }

    .content{
        padding:0px !important;

        .title{
            padding:0px 15px 0px 15px;
        }
    }

    /*======================= Components ============================ */
    .box{
        margin-bottom: 10px;
    }

    .custom-container{
        padding:25px;

        .custom-row {
            margin-left: 0px !important;
            margin-right: 0px !important;
            margin-bottom: 0px !important;

            .custom-col{
                padding-left: 0px !important;
                padding-right: 0px !important;
            }
        }
    }
    /*======================= Components ============================ */
}