@media (min-width: $mobile) and (max-width: $tablet) {
    /* components */
    
    .custom-icon-card{
        .icon-card-body{
            padding-bottom:20px !important;
        }
        .label, .number{
            font-size:$small-font-size !important;
        }

        .icon{
            font-size: $small-font-size + 10;
        }
    }

    /* components */
}