/*
Variables using by application
*/
$background-color : #f8f8f8;
$input-color: $gray;
$navbar-color : $white;
$default-font-size : 10pt;
$small-font-size : 9pt;
$large-font-size : 16pt;
$huge-font-size : 20pt;
$shadow: 0px 8px 6px -6px #cccccc;
$form-height: 45px;
$checkbox-size: 14px;

//text
$h1 : 24px;
$h2 : 18px;
$h3 : 16px;
$h4 : 12px;
$h5 : 9px;

//resolution
$mobile : 768px;

//components
$badge-image-size : 33px;