/*
Variables using by application
*/
$background-color : #f8f8f8;
$input-color: $gray;
$navbar-color : $white;
$default-font-size : 10pt;
$small-font-size : 9pt;
$large-font-size : 16pt;
$huge-font-size : 20pt;

//resolution
$mobile : 768px;

//components
$badge-image-size : 33px;