/*
Variables using by application
*/
$background-color : #fff;
$input-color: $gray;
$navbar-color : $white;
$default-font-size : 10pt;
$small-font-size : 9pt;
$large-font-size : 16pt;
$huge-font-size : 20pt;
$shadow: 0 0 1.5px rgb(109, 108, 108);
$form-height: 45px;
$checkbox-size: 14px;

//text
$h1 : 24px;
$h2 : 18px;
$h3 : 16px;
$h4 : 12px;
$h5 : 9px;

//resolution
$mobile : 767px;
$tablet : 992px;

//components
$badge-image-size : 33px;