//import
@import './_colors.scss';
@import './_variables.scss';
@import './_dekstop.scss';
@import './_tablet.scss';
@import './_mobile.scss';

//theming bootstrap color
$theme-colors: (
  primary: $primary,
  success: $success,
  danger: $danger,
  warning: $warning,
  info: $info,
);
//import bootstrap to replace
@import 'bootstrap/scss/bootstrap.scss';

// common css
body{
    background-color: $background-color;
}

.content{
    padding:20px 0px 20px 0px;

    .title{
        font-size:$huge-font-size;

        .sub-title{
            font-size: $default-font-size;
            color: darken($gray, 50%);
            margin-top:-5px; 
        }
    }

    .body{
        margin:20px 0px 20px 0px;
    }
}

//link
.link{
    color: $blue !important;
    text-decoration: none;
    font-size: $default-font-size;
}

.center{
    text-align: center !important;
}

//input
.form-control{
    background-color: $input-color;
    border: 0px;
    font-size: $default-font-size;
}

//avatar
.avatar{
    width: 30px;
    height: 30px;
}

/* Top navigation bar styling, notification ,messages search & profile */
.top-navbar{
    background-color: $navbar-color !important;
    font-size: $default-font-size;
    padding: 10px 30px 10px 30px;
    border-bottom: 1px solid $gray;

    .navbar-nav{
        li{
            margin-left:15px;
        }
    }

    .notification{
        .dropdown-toggle:after{
            content: none !important;
        }
    }

    .notification{
        margin-top: 5px;

        .total-notification{
            position: absolute;
            background-color:$default-color;
            border-radius: 10px;
            text-align: center;
            padding: 0px 5px 0px 5px;
            font-size:8pt;
            margin-top:-10px !important;
            margin-left:-5px !important;
            color:$white;
            font-weight: bold;
        }

        .notification-section, .message-section{
            padding:10px;

            .container-title{
                margin: 0px 10px 0px 10px;
                padding-bottom: 10px;
                font-weight: lighter;
                border-bottom: 1px solid $gray;
            }

            .dropdown-item{
                cursor: pointer;
                padding:10px;
                
                img{
                    max-width:35px;
                    max-height:35px;
                }

                .media-body{
                    padding-left:10px;
                    margin-top:-5px;

                    .title{
                        font-size:10pt;
                        font-weight: 400;
                    }
                    .time{
                        font-size:8pt;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}


/* Menu navigation styling */
.menu-navbar{
    background-color: $white !important;
    border-bottom: 1px solid $gray;
    box-shadow: 1px 1px 2px $gray;
}

//styling for horizontal scrollable menu
.horizontal-menu{
    overflow: scroll;
    overflow-y: hidden;
    padding-bottom: 0px !important;

    .title{
        font-size:$default-font-size;
        padding: 10px 32px 0px 32px;
        color:darken($gray, 30%);
        font-weight: 500;
        margin-bottom: -10px;
    }

    ul{
        flex-direction: unset;
        list-style: none;

        li{
            float: left !important;
            margin: 0px 7px 0px 7px;

            a{
                font-size: $default-font-size;
            }
        }
    }
}

.horizontal-menu::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

//sub menu navigation styling
.submenu{
    background-color:darken($white, 1%) !important;
    border: 1px solid $gray;

    ul{
        padding: 10px 0px 10px 25px;

        li{
            a{
                color : $dark-gray;
                font-size: $small-font-size;
            }
        }
    }
}

.pull{
    margin-top:-20px;
}



/*======================= Components ============================ */
.box{
    padding:20px;
    background-color: $white;
    box-shadow: 1px 4px 4px $gray;

    .box-title{
        font-size: $default-font-size;
        color: $dark-gray;
        margin-bottom: 10px;

        i{
            font-size: 8pt;
        }
    }
}

.custom-container{
    padding-left: 0px !important;
    padding-right: 0px !important;

    .custom-row{
        margin-bottom:20px;
    }
}

.custom-alert{
    padding:0px;
    border:0px;
    
    .alert-icon{
        width:40px;
        text-align: center;
        padding: 10px;
        float: left;
        height:100%;
        border-right: 2px solid $white;
        margin-right: 10px;
    }
    .alert-message{
        padding:10px;
        font-size:$default-font-size;
    }
}
/*======================= Components ============================ */